
#scsvr-container {
    box-sizing: border-box; 
    position: fixed;
    /* display: flex;  */
    top: 0; 
    left: 0; 
    height: 100vh; 
    width: 100vw; 
    /* z-index: -999; */
}

/* #scsvr-background-colorXXXXXX {
    margin: 0;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: safe center;
    align-items: center;
    box-sizing: border-box;
} */

.stapley-user-reply-box {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    xxxxxxOffForDebugOnlyxxxxxx_opacity: 0;  /* Init before active. */
}

#stapley-user-custom-reply-box {
    /* width:  */
    align-self: stretch;
}

#stapley-box {
    text-align: center;
}

#stapley-box, #scsvr-stapley-box {
    /* width: 8rem; */
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* Init settings before animation begins */
    /* opacity: 0; */

    top: 0;
    left: 0;
    transform: translate(-200%, -200%);  /* Ensure that stapley remains off-screen */
}
#stapley-box .stapley-body, #stapley-box .stapley-eyes {
    /* width: 100%; */
    width: 8rem;
}

#stapley-minimize, #stapley-close {
    height: 1.3rem;
    /* border: 1px solid black; */
}
#stapley-minimize-box:hover, #stapley-close-box:hover {
    background-color: black;
}
#stapley-minimize-box, #stapley-close-box {
    display: flex;
    margin-left: 0.5rem;
    border: 2px solid black;
}
#stapley-minimize-box {
    background-color: #febc2c;
}
#stapley-close-box {
    background-color: #ff5f57;
}
#stapley-minimize-box:hover #stapley-minimize {
    filter: invert(91%) sepia(11%) saturate(6102%) hue-rotate(333deg) brightness(101%) contrast(99%);  /* Black to #febc2c. */
}
#stapley-close-box:hover #stapley-close {
    filter: invert(37%) sepia(40%) saturate(902%) hue-rotate(314deg) brightness(131%) contrast(115%);  /* Black to #ff5f57. */
}

.stapley-menu-box {
    display: flex;
    right: 0;
}
.stapley-eyes, .stapley-menu-box {
    position: fixed;
    /* z-index: 1; */
    /* transition: transform 0.08s; */
}
#stapley-background {
    position: fixed;
    opacity: 0.6;
    height: 100vh;
    width: 100dvw;
    top: 0;
    left: 0;
    /* background-color: white; */
    background-color: hsla(208, 100%, 50%, 35%);  /* "skyglass" */
}

.stapley-menu-box, #stapley-message {
    /* margin: 0.5rem; */
}
#stapley-message {
    xxxxxxOffForDebugOnlyxxxxxx_opacity: 0;  /* Init before active. */
    /* margin: 0.5rem; */
    user-select: none;
    padding: 0.5rem;
    background-color: white;
    color: black;
    overflow-wrap: break-word;
    width: min(24rem, 80vw);
    border-color: hsl(0, 0%, 40%) black hsl(0, 0%, 40%);
    border-style: solid;
    border-width: 2px;
    /* transition: height 1s ease-in-out; */
}

.stapley-hidden-text {
    color: hsla(0, 0%, 0%, 0%);
}

.stapley-top-user-reply-button {
    margin: 0.3rem 0;
    padding: 3px;
    outline: 2px outset hsl(0, 0%, 30%);
    border: none;
    background-color: hsl(0, 0%, 80%);
    cursor: default;
    text-decoration: none;
}
.stapley-top-user-reply-button:hover {
    background-color: hsl(0, 0%, 72%);
}

.stapley-button-box {
    color: black;
    font-size: 0.8rem;
    border: 1px dotted hsl(0, 0%, 20%);
    padding: 2px 0.5rem;
}

/* SCREENSAVER CSS */

#scsvr-background, #scsvr-background-colorXXXXXX {
    position: fixed;
}

/* #scsvr-background-colorXXXXXX {
    width: 100vw;
} */

#scsvr-background {
    /* background-color: hsla(0, 0%, 100%, 20%); */
    /* background-color: white; */
    background-image: url("/static/stapley/paper_lines.png");
    background-position: center center;
    image-rendering: pixelated;
}

#scsvr-stapley-box {
    user-select: none;
}

#scsvr-stapley-box .stapley-body, #scsvr-stapley-box .stapley-eyes {
    width: 6rem;
    /* width: 50px; height: 100px; debug size */
}
